.loader-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 2;
  backdrop-filter: blur(5px);

  .loader-container {
    display: flex;
    justify-content: center;

    .loader {
      position: absolute;
      top: 35%;

      h1 {
        width: 15rem;
      }

      .circular {
        $border-props: 1rem solid;
        border: $border-props var(--lightGrey);
        border-radius: 50%;
        border-top: $border-props var(--blue);
        width: 10rem;
        height: 10rem;
        animation: spin 1s linear infinite;

        @keyframes spin {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
}
