<app-toolbar [title]="'100 Angular Challanges'">
  <ul>
    <li>Components</li>
    <li>Directives</li>
    <li>Services</li>
    <li>Pipes</li>
    <li>Other</li>
  </ul>
</app-toolbar>
<main>

  <app-card [iconClasses]="'fas fa-info-circle'" [title]="'Star Rating'" [subtitle]="'Components'">
    <app-star-rating body [rating]="3.6" [maxRating]="5"></app-star-rating>
  </app-card>
  <app-card [iconClasses]="'fas fa-info-circle'" [title]="'Progressbar'" [subtitle]="'Components'">
    <app-progressbar body [value]="progressValue"></app-progressbar>
    <button footer (click)="progressValue = 75;">Update</button>
  </app-card>

  <app-card [iconClasses]="'fas fa-info-circle'" [title]="'Accordian'" [subtitle]="'Components'">
  <app-accordian body [items]="accoridanItems"></app-accordian>
  </app-card>

  <app-card [iconClasses]="'fas fa-info-circle'" [title]="'Card'" [subtitle]="'Components'">
    <p footer>Footer Content</p>
    <p body>Body Content</p>
  </app-card>
</main>

<app-top-of-page [pxToShow]="400"></app-top-of-page>
